<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Styles/styleInputData.css">
    <link rel="stylesheet" href="/Styles/styleOutputData.css">
    <link rel="stylesheet" href="/Styles/styleTable.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/Scrypts/scryptsForTable.js"></script>
    <script src="/Scrypts/scryptInterOutputData.js"></script>

    <title>Калькулятор</title>
  </head>
  <body>
    <div>

    </div>
    <div class="boxToInterData">
      <label class="label labelType">Тип:</label>
      <label class="label labelSS">С\с товара:</label>
      <label class="label labelWeight">Вес товара (в кг):</label>
      <label class="label labelTamPoshl">Таможенная пошлина:</label>
      <label class="label labelTranspRashDoGra">Транспортные расходы до границы:</label>
      <label class="label labelTranspRashPosleGra">Транспортные расходы после границы:</label>

      <div class="styledSelect">
        <select class="textBoxType">
          <option th:each="product : ${productsList}"
                  th:value="${product.tamname}"
                  th:text="${product.tamname}">
          </option>
        </select>
      </div>

      <input type="number" name="textBoxSS" class="textBox textBoxSS">
      <input type="number" name="textBoxWeight" class="textBox textBoxWeight">
      <input type="number" name="textBoxTamPoshl" class="textBox textBoxTamPoshl" id="textBoxTamPoshlID" readonly>
      <input type="number" name="textBoxTranspRashoDoGra" class="textBox textBoxTranspRashoDoGra">
      <input type="number" name="textBoxTranspRashoPosleGra" class="textBox textBoxTranspRashoPosleGra">

      <button class="buttonLockOffOn" onclick="toggleReadOnlyAndChangeImage()"></button>
      <button class="buttonGoRaschet" onclick="calculate()">РАССЧИТАТЬ</button>
    </div>

    <div class="boxOutputData">
      <label class="label labelExpl">Итоги расчетов:</label>
      <label class="label labelItoRas" >Итоговая с\с поставки:</label>
      <label class="label labelItogRasPerOne">Итоговая с\с поставки (за единицу веса):</label>
      <label class="label labelNDS">НДС:</label>
      <label class="label labelTamPoshl2">Таможенная пошлина:</label>
      <label class="label labelItogNDS" id="resultNDS"></label>
      <label class="label labelItogTamPoshl" id="resultTamPoshl"></label>
      <label class="label labelOutRas" id="result"></label>
      <label class="label labelOutRasPerOne" id="resultPerWeight"></label>

      <button class="buttonSave" onclick="saveData()">СОХРАНИТЬ</button>
    </div>

    <div id="validationMessage" class="validationMessage"></div>

    <div>
      <button class="buttonFillDoc">Заполнить документ</button>
      <button id="buttosShow" class="buttosShowTable" onclick="showSavedCalculations()">Показать сохраненные расчеты</button>
      <button id="buttonHide" class="buttonHideTable" onclick="hideTable()">Скрыть таблицу</button>

      <table>
        <thead>
        <tr>
          <th colspan="4">Введенные данные</th>
          <th colspan="2">Итоговая с/с</th>
        </tr>
        <tr>
          <th>Тип</th>
          <th>Таможенная пошлина</th>
          <th>Транспортные расходы</th>
          <th>Вес</th>
          <th>Полностью</th>
          <th>За единицу</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </body>
</html>