<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Заполнение документа</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
            body {
                background-color: #343a40;
                color: #ffffff;
            }
            .form-control {
                font-size: 0.9em;
                padding: 0.375rem 0.75rem;
                max-width: 300px;
            }
            .form-control {
                color: #ffffff;
                background-color: #343a40;
                border-color: #6c757d;
            }
            .form-group label {
                color: #ffffff;
            }
            .form-control:focus {
                color: #ffffff;
                background-color: #343a40;
                border-color: #6c757d;
                box-shadow: none;
            }
            .burger {
                position: fixed;
                top: 16px;
                left: 16px;
                cursor: pointer;
                z-index: 1000;
                color: #ffffff;
                transition: transform 0.3s ease-out;
            }
            .burger span {
                display: block;
                width: 32px;
                height: 4px;
                background-color: #ffffff;
                margin-bottom: 4px;
                transition: transform 0.3s ease-out;
            }
            .burger.open span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            .burger.open span:nth-child(2) {
                opacity: 0;
            }
            .burger.open span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                width: 250px;
                height: 100%;
                background-color: #212529;
                color: #ffffff;
                transition: transform 0.3s ease-out;
                transform: translateX(-100%);
                overflow: hidden;
                z-index: 999;
            }
            .sidebar.open {
                transform: translateX(0);
            }
            .sidebar a {
                display: block;
                padding: 16px;
                text-decoration: none;
                color: #ffffff;
                transition: background-color 0.3s ease-out;
            }
            .sidebar a:hover {
                background-color: #343a40;
            }
            .sidebar .nav {
                margin-top: 64px;
                display: flex;
                flex-direction: column;
            }
            .form-check-inline {
                display: inline-block;
                margin-right: 10px;
            }
        </style>
        <script src="https://unpkg.com/pdf-lib"></script>
        <script src="/Scrypts/scryptForDocument.js" defer></script>
        <script src="/Scrypts/scryptForRedirected.js"></script>
    </head>

    <body>
    <div id="alertContainer" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;"></div>

    <div class="burger" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="sidebar" id="sidebar">
        <nav class="nav">
            <a href="#" onclick="openCalculator()"><i class="fas fa-calculator"></i> Калькулятор</a>
            <a href="#" style="color: #1e722c"><i class="fas fa-file-alt"></i> Документ</a>
            <a href="#" onclick="openReport()"><i class="fas fa-chart-bar"></i> Отчет</a>
        </nav>
    </div>

    <div class="container mt-4">
        <div style="border-radius:10px; padding:10px; box-shadow:0 0 10px rgba(0, 0, 0, 0.2); ">
            <h2>Заполнение декларации таможенной стоимости</h2>
        </div>
    </div>

    <div class="container mt-4 mb-4" style="border-radius:10px; padding:10px; box-shadow:0 0 10px rgba(0, 0, 0, 0.2);">
        <footer onclick="toggleSurvey()" class="h4" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); cursor: pointer;">
            Блок Вопросов Да/Нет:
        </footer>
        <form id="surveyContainer" role="form" class="form-horizontal col-sm-12" style="height: 0; overflow: hidden;">
            <div class="question my-3">
                <p class="h6">
                    7) (а) Имеется ли взаимосвязь между продавцом и покупателем в значении, указанном в статье 37
                    Таможенного кодекса Евразийского экономического союза?
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios1" id="daRadio1" value="Да">
                        <label class="form-check-label" for="daRadio1">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios1" id="netRadio1" value="Нет">
                        <label class="form-check-label" for="netRadio1">Нет</label>
                    </div>

                </div>
            </div>
            <div class="question my-3">
                <p class="h6">
                    (б) Оказала ли взаимосвязь между продавцом и покупателем влияние на цену, фактически уплаченную или
                    подлежащую уплате за ввозимые товары?
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios2" id="daRadio2" value="Да">
                        <label class="form-check-label" for="daRadio2">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios2" id="netRadio2" value="Нет">
                        <label class="form-check-label" for="netRadio2">Нет</label>
                    </div>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">
                    (в) Стоимость сделки с ввозимыми товарами близка к одной из возможных проверочных величин, указанных
                    в пункте 5 статьи 39 Таможенного кодекса Евразийского экономического союза?
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios3" id="daRadio3" value="Да">
                        <label class="form-check-label" for="daRadio3">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios3" id="netRadio3" value="Нет">
                        <label class="form-check-label" for="netRadio3">Нет</label>
                    </div>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">
                    8) (а) Имеются ли ОГРАНИЧЕНИЯ в отношении прав покупателя на пользование и распоряжение ввозимыми
                    товарами, за исключением ограничений, которые:
                    - ограничивают географический регион, в котором ввозимые товары могут быть перепроданы;
                    - существенно не влияют на стоимость ввозимых товаров;
                    - установлены актами органов Евразийского экономического союза или законодательством государств -
                    членов Евразийского экономического союза
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios4" id="daRadio4" value="Да">
                        <label class="form-check-label" for="daRadio4">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios4" id="netRadio4" value="Нет">
                        <label class="form-check-label" for="netRadio4">Нет</label>
                    </div>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">
                    (б) Зависит ли продажа ввозимых товаров или их цена от соблюдения УСЛОВИЙ или ОБЯЗАТЕЛЬСТВ,
                    оказывающих влияние на цену ввозимых товаров? Если влияние таких условий или обязательств на цену
                    ввозимых товаров может быть количественно определено, сумма стоимостной оценки таких условий или
                    обязательств указывается в разделе "б" графы 11
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios5" id="daRadio5" value="Да">
                        <label class="form-check-label" for="daRadio5">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios5" id="netRadio5" value="Нет">
                        <label class="form-check-label" for="netRadio5">Нет</label>
                    </div>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">
                    9) (а) Предусмотрены ли ЛИЦЕНЗИОННЫЕ и иные подобные ПЛАТЕЖИ за использование объектов
                    ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ, которые относятся к ввозимым товарам и которые прямо или косвенно
                    произвел или должен произвести покупатель в качестве условия продажи ввозимых товаров для вывоза на
                    таможенную территорию Евразийского экономического союза?
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios6" id="daRadio6" value="Да">
                        <label class="form-check-label" for="daRadio6">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios6" id="netRadio6" value="Нет">
                        <label class="form-check-label" for="netRadio6">Нет</label>
                    </div>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">
                    (б) Зависит ли продажа от соблюдения условия, в соответствии с которым ЧАСТЬ ДОХОДА (ВЫРУЧКИ),
                    полученного в результате ПОСЛЕДУЮЩЕЙ ПРОДАЖИ, РАСПОРЯЖЕНИЯ иным способом или ИСПОЛЬЗОВАНИЯ ввозимых
                    товаров, прямо или косвенно причитается продавцу? В случае ответа "ДА" на вопросы в разделах "а" и
                    (или) "б" в графах 15 и 16 указываются соответствующие величины
                </p>
                <div class="form-check ms-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios7" id="daRadio7" value="Да">
                        <label class="form-check-label" for="daRadio7">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="optionalRadios7" id="netRadio7" value="Нет">
                        <label class="form-check-label" for="netRadio7">Нет</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container mt-4 mb-4" style="border-radius:10px; padding:10px; box-shadow:0 0 10px rgba(0, 0, 0, 0.2);">
        <footer onclick="toggleMainCalc()" class="h4" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); cursor: pointer;">
            <span class="h4">ОСНОВА ДЛЯ РАСЧЕТА:</span>
        </footer>
        <form id="mainCalcContainer" role="form" class="form-horizontal col-sm-12" style="height: 0; overflow: hidden;">
            <div class="question my-3">
                <p class="h6">11(а) Цена, фактически уплаченная или подлежащая уплате за ввозимые товары в ВАЛЮТЕ СЧЕТА</p>
                <div class="form-group">
                    <label class="w-100">
                        <input id="OsnForRasch11" class="form-control w-25" onchange="fillMainCalc()" type="text" placeholder="Введите цену">
                    </label>
                </div>
                <div class="d-flex align-items-center">
                    <label>Валюта счета:</label>&nbsp;
                    <select class="form-select form-select-sm" aria-label=".form-select-sm" id="currencySelector"  style="background-color: #343a40; color: #ffffff"></select>
                </div>
                <label id="labelPeresch" class="control-label">В НАЦИОНАЛЬНОЙ ВАЛЮТЕ </label>
            </div>
            <div class="question my-3">
                <p id="labelPerechb" class="h6">(б) Косвенные платежи (условия или обязательства) в НАЦИОНАЛЬНОЙ ВАЛЮТЕ (курс пересчета)</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillMainCalc()" id="OsnForRasch11b" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <label id="itogOsn" class="fs-4">12) Итого по разделам "а" и "б" графы 11 в национальной валюте:</label>
            </div>
        </form>
    </div>

    <div class="container mt-4 mb-4" style="border-radius:10px; padding:10px; box-shadow:0 0 10px rgba(0, 0, 0, 0.2);">
        <footer onclick="toggleDopCalc()" class="h4" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); cursor: pointer;">
            <span class="h4">ДОПОЛНИТЕЛЬНЫЕ НАЧИСЛЕНИЯ:</span>
        </footer>
        <form id="dobCalcContainer" role="form" class="form-horizontal col-sm-12" style="height: 0; overflow: hidden;">
            <div class="question my-3">
                <p class="h6">13) Расходы, осуществленные покупателем на:</p>
                <p class="h6">(а) вознаграждения посреднику (агенту), брокеру, за исключением вознаграждений за закупку товаров :</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop13" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3 ms-4">
                <p class="h6">(б) Тару и упаковку, в том числе стоимость упаковочных материалов и работ по упаковке:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop13b" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3 ms-4">
                <p class="h6">14) Соответствующим образом распределенная стоимость следующих товаров и услуг...</p>
                <p class="h6">(а) Сырье, материалы, детали, полуфабрикаты и иные товары, из которых произведены (состоят) ввозимые товары:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop14a" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3 ms-4">
                <p class="h6">(б) Инструменты, штампы, формы и иные подобные товары, использованные при производстве ввозимых товаров:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop14b" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3 ms-4">
                <p class="h6">(в) Материалы, израсходованные при производстве ввозимых товаров:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop14v" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3 ms-4">
                <p class="h6">(г) Проектирование, разработка, инженерная, конструкторская работа, художественное оформление...</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop14g" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">15) Лицензионные и иные подобные платежи за использование объектов интеллектуальной собственности:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop15" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">16) Часть дохода (выручки), полученного в результате последующей продажи...</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop16" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">17) Расходы на перевозку (транспортировку) ввозимых товаров до:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop17" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">18) Лицензионные и иные подобные платежи за использование объектов интеллектуальной собственности:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop18" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">19) Расходы на страхование в связи с операциями, указанными в графах 17 и 18:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillDopCalc()" id="Dop19" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p id="itogoDop" class="h6">20) Итого по графам 13 - 19 в национальной валюте: </p>
                <p></p>
            </div>
        </form>
    </div>

    <div class="container mt-4 mb-4 text-end" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <footer onclick="toggleItogNacValue()" class="h4" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); cursor: pointer;">
            ВЫЧЕТЫ в национальной валюте:
        </footer>
        <form id="itogNacValue" role="form" class="form-horizontal col-sm-12" style="height: 0; overflow: hidden;">
            <div class="question my-3">
                <p class="h6">21) Расходы на строительство, возведение, сборку, монтаж, обслуживание или оказание технического содействия,
                    производимые после ввоза товаров на таможенную территорию Евразийского экономического союза:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillItogNacValues()" id="Vch21" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">22) Расходы на перевозку (транспортировку) ввозимых товаров по таможенной территории Евразийского экономического союза:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillItogNacValues()" id="Vch22" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p class="h6">23) Сумма пошлин, налогов и сборов, уплачиваемых в связи с ввозом товаров на таможенную территорию Евразийского
                    экономического союза или продажей товаров на такой таможенной территории:</p>
                <div class="form-group">
                    <label class="w-100">
                        <input onchange="fillItogNacValues()" id="Vch23" type="text" placeholder="Введите" class="form-control w-25">
                    </label>
                </div>
            </div>
            <div class="question my-3">
                <p id="itogoVch" class="h6">24) Итого по графам 21 - 23 в национальной валюте: </p>
            </div>
        </form>
    </div>

    <div class="container mt-4 mb-4 text-end" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <footer onclick="toggleItog()" class="h4" style="border-radius: 10px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); cursor: pointer;">
            ИТОГИ:
        </footer>
        <form id="itogContainer" role="form" class="form-horizontal col-sm-12" style="height: 0; overflow: hidden;">
            <div class="question my-3">
                <p id="itog25" class="h6">25) Таможенная стоимость ввозимых товаров (12 + 20 - 24): </p>
            </div>
            <div class="question my-3">
                <p id="itogNac" class="h6">В НАЦИОНАЛЬНОЙ ВАЛЮТЕ:</p>
            </div>
            <div class="question my-3">
                <p id="itogUSA" class="h6">В ДОЛЛАРАХ США (курс пересчета: ):</p>
            </div>
            <button class="btn btn-secondary px-3" type="button" onclick="rashetVivod()">Расчитать Итоги</button>
        </form>
    </div>

    <div class="container mt-4 mb-4 text-end">
        <button class="btn btn-secondary px-3" type="button" id="fillPDFButton" onclick="fillDTSDocument()">Сформировать дтс</button>
    </div>
    </body>
</html>