<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data List</title>
</head>
    <body>
    <h2>Data List</h2>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customsData : ${customsDataList}">
            <td th:text="${customsData.id}"></td>
            <td th:text="${customsData.username}"></td>
            <td th:text="${customsData.password}"></td>
        </tr>
        </tbody>
    </table>
    </body>
</html>
