.boxOutputData {
    left: 530px;
    top: 10px;
    width: 700px;
    height: 200px;
    position: absolute;
    background: linear-gradient(to bottom, #770C92, #D649ED, #F600FB);
    border-radius: 35px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
    
.visible {
    opacity: 1;
}

.label {
    position: absolute;
    color: #FFFFFF;
    font-size: 16px;    
    font-family: 'Inter', sans-serif;
    font-weight: bold;}
.labelExpl {left: 10px; top : 20px;}
.labelItoRas {left: 10px; top: 75px;}
.labelItogRasPerOne {left: 10px; top: 115px;}

.buttonSave{   
    position: absolute;
    left: 10px; 
    top: 150px; 
    height: 40px;
    width: 220px;
    border-radius: 50px;
    color: #ffffff;
    background-color:#9E00FF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;

    border: none;
    appearance: none;

    opacity: 1;
    transition: opacity 0.3s ease-in-out;}

.buttonSave:hover{
    opacity: 0.8;
}