.boxOutputData {
    left: 800px;
    top: 100px;
    width: 500px;
    height: 300px;
    position: absolute;
    background: linear-gradient(to bottom, #770C92, #861b98, #711972);
    border-radius: 35px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

.label {
    position: absolute;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;}
.labelExpl {left: 10px; top : 20px;}
.labelItoRas {left: 10px; top: 150px;}
.labelItogRasPerOne {left: 10px; top: 190px;}
.labelOutRas {left: 200px; top: 150px;}
.labelOutRasPerOne {left: 350px; top: 190px;}
.labelNDS {left: 10px; top:75px;}
.labelItogNDS {left: 60px; top: 75px;}
.labelTamPoshl2{left:10px; top:115px;}
.labelItogTamPoshl {left: 200px; top:115px;}