@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.boxToInterData {
    position: absolute;
    width: 650px;
    height: 300px;
    background: linear-gradient(to bottom, #1000C9, #0D019B, #00052A);
    border-radius: 35px;
    left: 100px;
    top: 100px;}
.buttonLockOffOn {
    position: absolute;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    left: 205px;
    border: none;
    background: url('LockOffOn/redLockOff.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}
.validationMessage {
    position: absolute;
    height: 50px;
    width: 300px;
    top: 320px;
    left: 810px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}